{% extends "base.html" %}
{% block title %}Welcome, {{ username }}{% endblock %}
{% block body %}
{% for message in flash_messages %}
  <div class="flash_message">{{ message }}<a href="/">&times;</a></div>
{% endfor %}
<p>Your profiles :</p>
<ul>
	
  {% for p in infos %}
    
	<li>ID   : {{ p.work_id }}<br></li>
	<li>Name : {{ p.name }}<br></li>
	<li>Ssn  : {{ p.ssn }}<br></li>
	<li>Age  : {{ p.age }}<br></li>
	<li>Sex  : {{ p.sex }}<br></li>
	<li>Email: {{ p.email }}<br></li>
		
	
  {% endfor %}
</ul>
<a href="/change">Change datas</a> | <a href="/logout">Log out</a>
{% endblock %}
